[submodule "+vim-phpcs"]
	path = +vim-phpcs
	url = https://github.com/bpearson/vim-phpcs.git
[submodule "+vim-pathogen"]
	path = +vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "+vim-localrc"]
	path = +vim-localrc
	url = https://github.com/thinca/vim-localrc.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:utix/vim-javascript.git
[submodule "vim/bundle/vim-phpcs"]
	path = vim/bundle/vim-phpcs
	url = git@github.com:utix/vim-phpcs.git
[submodule "vim/bundle/file-line"]
	path = vim/bundle/file-line
	url = git@github.com:utix/file-line.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-ansible-yaml.new"]
	path = vim/bundle/vim-ansible-yaml
	url = git@github.com:plague-doctor/vim-ansible-yaml.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/maven-compiler.vim"]
	path = vim/bundle/maven-compiler.vim
	url = https://github.com/JalaiAmitahl/maven-compiler.vim
[submodule "vim/bundle/vim-signature"]
	path = vim/bundle/vim-signature
	url = git@github.com:kshenoy/vim-signature.git
